<template name="UsersChangePassword">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Change Password</h3>
        </div>
        <div class="panel-body">
          {{#autoForm schema="Schema.ChangePasswordForm" id="usersChangePassword"}}
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="{{userEmail}}" disabled>
            </div>
            {{> afQuickField name='currentPassword' placeholder='Current Password' type='password'}}
            {{> afQuickField name='password' placeholder='Password' type='password'}}
            {{> afQuickField name='passwordConfirmation' placeholder='Password Confirmation' type='password'}}
            <footer>
              <button class="btn btn-primary">Change Password</button>
              <a class="btn btn-link pull-right" href="{{pathFor 'UsersProfile' _id=currentUser._id}}">
                <i class="fa fa-plus"></i>Return to profile</a>
            </footer>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>
