<template name="AuthForgotPassword">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{#DefaultPanel title="Forgot Password"}}
          {{#autoForm schema="Schema.ForgotPasswordForm" id="authForgotPassword"}}
            {{> afQuickField name='email' placeholder='Email'}}
            <footer>
              <button class="btn btn-primary">Reset Password</button>
              <a class="btn btn-link pull-right" href="{{pathFor 'AuthLogin'}}">
                <i class="fa fa-plus"></i>Back to login?</a>
            </footer>
          {{/autoForm}}
        {{/DefaultPanel}}
      </div>
    </div>
  
</template>
