<template name="AdminDashboard">
  <div class="admin-dashboard">

    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Users</h3>
            <i class="fa fa-users"></i>
            <span class="label label-default">{{usersCount}}</span>
            <a href="{{pathFor 'AdminUsers'}}"></a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Roles</h3>
            <i class="fa fa-user-secret"></i>
            <span class="label label-default">{{rolesCount}}</span>
            <a href="{{pathFor 'AdminRoles'}}"></a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Test Heading</h3>
            <i class="fa fa-users"></i>
            <span class="label label-default">34561</span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Test Heading</h3>
            <i class="fa fa-users"></i>
            <span class="label label-default">34561</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
