<template name="AdminUsers">
  <div class="admin-users">
    {{#DefaultPanel title="Manage Users"}}
      <div class="row">
        <div class="col-md-12">
          <button class="admin-create-user btn btn-success pull-right">Create User</button>
        </div>
      </div>
      <table class="table table-responsive table-striped table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
            <tr>
              <td>{{username}}</td>
              <td>
                {{#each emails}}{{address}}{{/each}}
              </td>
              <td>
                {{#each roles.__global_roles__}}{{.}}{{/each}}
              </td>
              <td>{{formatDate createdAt "short"}}</td>
              <td class="actions">
                <button class="btn btn-link">
                  <span class="text-warning">
                    <i class="fa fa-edit"></i>Edit</span>
                </button>
                <button class="btn btn-link">
                  <span class="text-danger">
                    <i class="fa fa-trash-o"></i>Delete</span>
                </button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/DefaultPanel}}
  </div>
</template>
