<template name="MainNavbarRight">
  <ul class="nav navbar-nav navbar-right">
    {{#if currentUser}}
      {{#if isInRole 'site-admin'}}
        {{> MainNavbarRightAdmin}}
      {{/if}}

      {{> MainNavbarRightUser}}
      {{else}}
      <li class="{{isActiveRoute 'AuthLogin'}}">
        <a href="{{pathFor 'AuthLogin'}}">
          <i class="fa fa-sign-in"></i>Login</a>
      </li>
      <li class="{{isActiveRoute 'AuthRegister'}}">
        <a href="{{pathFor 'AuthRegister'}}">
          <i class="fa fa-plus"></i>Register</a>
      </li>
    {{/if}}

  </ul>
</template>
